<form action="/create" method="post">
  <h2>Створення елементів списку</h2>

  <div class="input-field">
    <input type="text" name="title">
  </div>

  <button type="submit" class="btn">Створити</button>
</form>
